{{!-- <link rel="stylesheet" href="/public/css/homeStyles.css"> --}}
<h1 class="home-h1">Option 3: Feature extraction + Machine Learning Explorer</h1>
    <p class="home-paragraph">Utlize existing data and explore
various feature extraction methods and standard ML classification algorithms,
incorporating them into a simple web application. Feature extraction methods can
be discussed.
    </p>

    {{!-- <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>
    <script src="/public/js/home.js"></script> --}}