<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <title></title>
    {{!-- <link rel="stylesheet" href="/public/css/styles.css"> --}}
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <script src="../js/tfjs.min.js"></script>
</head>

<body>
    <header>
    </header>

    <main>
        {{{body}}}
    </main>
    <footer>CS555 - Team3</footer>

</body>

</html>